<a href="https://colab.research.google.com/github/maldanna/taxi/blob/master/final_taxi_gpu_today.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:

import pandas as pd
import numpy as np
import seaborn as sns
import pickle
import warnings
warnings.filterwarnings("ignore")

In [0]:
#reading data gitub where my 15 time internval data ie available
data=pd.read_csv("https://raw.githubusercontent.com/maldanna/adv/master/final_jan.csv")
data.describe

<bound method NDFrame.describe of         Vendor_ID   time  Location_ID  ...  special_day  sunday  total_cabs
0               1   0.00            4  ...            1       0           8
1               2   0.00            4  ...            1       0           8
2               1   0.00            7  ...            1       0           1
3               2   0.00            7  ...            1       0           2
4               1   0.00           13  ...            1       0           8
...           ...    ...          ...  ...          ...     ...         ...
444427          1  23.75          264  ...            1       0          21
444428          2  23.75          264  ...            1       0          19
444429          1  23.75          265  ...            1       0           2
444430          2  23.75          265  ...            1       0           1
444431          2   0.00           79  ...            1       0           1

[444432 rows x 15 columns]>

In [0]:
#we removed month columns because we are traing for only one month at time
data=data.drop(['month'], axis=1)
data.head()

   Vendor_ID  time  Location_ID  clear  ...  snow  special_day  sunday  total_cabs
0          1   0.0            4      0  ...     0            1       0           8
1          2   0.0            4      0  ...     0            1       0           8
2          1   0.0            7      0  ...     0            1       0           1
3          2   0.0            7      0  ...     0            1       0           2
4          1   0.0           13      0  ...     0            1       0           8

[5 rows x 14 columns]

In [0]:

icon=[]
for i in range(444432):
    if(int(data.iloc[i,2])==1):
        icon.append(1)
    elif(int(data.iloc[i,3])==1):
        icon.append(2)
    elif(int(data.iloc[i,4])==1):
        icon.append(3)
    elif(int(data.iloc[i,5])==1):
        icon.append(4)
    elif(int(data.iloc[i,6])==1):
        icon.append(5)
    elif(int(data.iloc[i,7])==1):
        icon.append(6)
    elif(int(data.iloc[i,8])==1):
        icon.append(7)
    else:
        icon.append(8)
    
print(len(icon))
data_icon=pd.DataFrame(icon)
data_icon.head(2)

444432

   0
0  3
1  3

In [0]:

data1=data.drop(['clear'],axis=1)
data1=data1.drop(['cloudy'],axis=1)
data1=data1.drop(['fog'],axis=1)
data1=data1.drop(['mostlycloudy'],axis=1)
data1=data1.drop(['partlycloudy'],axis=1)
data1=data1.drop(['rain'],axis=1)
data1=data1.drop(['snow'],axis=1)
data1=data1.drop(['hazy'],axis=1)
data1.head()

data1=data_icon.join(data1)
# data1=data1.rename(columns={0:'weather_icon'}, 
#                  inplace=True)
data1.head(5)

   0  Vendor_ID  time  Location_ID  special_day  sunday  total_cabs
0  3          1   0.0            4            1       0           8
1  3          2   0.0            4            1       0           8
2  3          1   0.0            7            1       0           1
3  3          2   0.0            7            1       0           2
4  3          1   0.0           13            1       0           8

In [0]:

data1.rename(columns={0:'weather_icon'}, 
                 inplace=True)

In [0]:
data1.head(2)

   weather_icon  Vendor_ID  time  Location_ID  special_day  sunday  total_cabs
0             3          1   0.0            4            1       0           8
1             3          2   0.0            4            1       0           8

In [0]:
# we tried twith get_dummies values to location_id then we figure out that is giving less accuracy
# data_dummy=pd.get_dummies(data6.iloc[:,3])
# data_dum=pd.DataFrame(data_dummy)
# data_dum.head(1)

# #data6=data6.drop(['Location_ID'],axis=1)
# # data6=data_dum.join(data6)
# data6.head(1)

In [0]:
#mainly these scakers to visualise  the data on charts
# from sklearn.preprocessing import StandardScaler
# min_max_scaler=StandardScaler()

# data6=pd.DataFrame(min_max_scaler.fit_transform(data6))
# data6.head()
# data6.rename(columns={0:'weather_icon',1:'Vendor_ID',2:'time',3:'special_day',
#                       4:'sunday',5:'total_cabs'}, 
#                  inplace=True)
# data6.head()

In [0]:
#to  split data into traing and testing data
from sklearn.model_selection import train_test_split
fea=data1.iloc[:,:-1]
target=data1.iloc[:,-1]
x_train,x_test,y_train,y_test=train_test_split(fea,target,test_size=0.2,random_state=0)
print(x_train)
print(y_train)

        weather_icon  Vendor_ID   time  Location_ID  special_day  sunday
214195             3          2   9.25          264            1       0
308664             2          1  17.75          246            1       1
435702             6          2  10.00          100            1       0
46466              3          1   3.25          164            1       0
31289              2          1   2.00          116            1       0
...              ...        ...    ...          ...          ...     ...
152315             3          1   8.75          236            1       0
439107             2          2  15.50          142            1       0
117952             7          1   0.25          164            1       0
435829             6          1  10.25           50            1       0
305711             7          1  13.25          226            1       1

[355545 rows x 6 columns]
214195    13
308664    27
435702    48
46466      6
31289      1
          ..
152315    99
439107    63
117952    14
435829    12
305711     3
Name: total_cabs, Length: 355545, dtype: int64

In [0]:
list_model=[]
list_score=[]
list_error=[]

In [0]:

from sklearn.linear_model import LinearRegression
from sklearn.model_selection import cross_val_score
from sklearn.metrics import  mean_absolute_error
l_model=LinearRegression()
scores = cross_val_score(l_model, x_train, y_train)
l_model.fit(x_train, y_train)
linear_ypre=l_model.predict(x_test)
error= mean_absolute_error(y_test, linear_ypre)
list_model.append("LinearRegression")
list_score.append(scores.mean())
list_error.append(error)
print(scores.mean()*100)

8.633922347007694

In [0]:
from sklearn import svm
s_model=svm.SVR()
s_model.fit(x_train, y_train)
scores = cross_val_score(s_model, x_train, y_train)
svr_ypre=s_model.predict(x_test)
error= mean_absolute_error(y_test, svr_ypre)
list_model.append("support Vector Regression")
list_score.append(scores.mean()*100)
list_error.append(error)
print(error)

17.283461284627155

In [0]:
import pickle
from sklearn.ensemble import RandomForestRegressor
# we selected this max_depth value after grid search observation
r_model = RandomForestRegressor(max_depth=16, random_state=0)
scores = cross_val_score(r_model, x_train, y_train)
r_model.fit(x_train, y_train)
r_ypre=r_model.predict(x_test)
error= mean_absolute_error(y_test,r_ypre)
r_ypre=s_model.predict(x_test)
error= mean_absolute_error(y_test,r_ypre)
list_model.append("RandomForestRegressor")
list_score.append(scores.mean()*100)
list_error.append(error)
print(error)

6.212669270293197

In [0]:

import xgboost as xgb
from sklearn.model_selection import cross_val_score
# we selected these hyper parameters after gridsearch observations
x_model = xgb.XGBRegressor(
learning_rate =0.2,
n_estimators=1000,
max_depth=13,
min_child_weight=3,
gamma=0,
subsample=0.8,
reg_alpha=60, reg_lambda=300,
colsample_bytree=0.9,nthread=4)
x_model.fit(x_train, y_train)
with open('x_model_jan_pickle','wb') as file:
    pickle.dump(x_model,file)
x_ypre=x_model.predict(x_test)
scores = cross_val_score(r_model, x_train, y_train)
error= mean_absolute_error(y_test, x_ypre)
list_model.append("xgboost")
list_score.append(scores.mean()*100)
list_error.append(error)
print(error)

3.4193293874512

In [0]:

cmp=pd.DataFrame([list_error,list_score])
cmp=cmp.rename(columns={0:"LinearRegression",1:"SVR",2:"RandomForestRegressor",3:"xgboost" })
cmp=pd.DataFrame(["error","accuracy"]).join(cmp)
print(cmp)

          0  LinearRegression        SVR  RandomForestRegressor    xgboost
0     error        574.329373  17.283461               6.212669   3.419329
1  accuracy          8.633922  72.623215              81.237294  86.317349

In [0]:
#based on above observations  we knew that xgboost model is best model for this dataset
#now are saving x_model(xgboost model for future predictions on unseen data)
#pickel- python library to save trainded models


#to save model
with open('x_model_jan_pickle','wb') as file:
    pickle.dump(x_model,file)

#to open saved model
with open('x_model_jan_pickle','rb') as k:
    clf=pickle.load(k)
#prediction
#a=useri_nput[	weather_icon	Vendor_ID	time	Location_ID	special_day	sunday	]
#convert that list into numpy array (np.array[list1])
#reshape it a.reshape(1,-1) . due to we have single sample here 
#clf.predict(a)

In [0]:
#data liks:
https://github.com/maldanna/taxi
https://raw.githubusercontent.com/maldanna/taxi/master/final_april.csv
https://raw.githubusercontent.com/maldanna/taxi/master/final_aug.csv